/* footer */
.logo-small {
  width: 100px;
  height: auto;
}

.footer {
  width: 100%;
  background-color: #343a40;
  /* Color de fondo del footer */
  color: #fff;
  /* Color del texto del footer */
  padding: 10px 0;
  /* Espaciado interior del footer */
  margin-top: auto;
  /* Coloca el footer al final de la página */
}
