.formulario-solicitud {
    border: 1px solid green;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, transparent, #58d55cd5);
}

.solicitud-titulo {
    color: green;
}

.solicitud-input:hover {
    border-color: orange;
}

.solicitud-boton {
    background-color: green;
    border-color: green;
}
.solicitud-boton:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}