body {
    margin: 0;
    box-sizing: border-box;
    padding-top: 136px;
}

html, body, #__next {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


h2 {
    font-weight: 600;
}

.centered-text {
    text-align: center;
}

.btn-primary {
    background-color: #F99D20;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-success {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.btn-secondary {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.btn-primary:hover, .btn-secondary:hover {
   background: green;

}

.btn-success:hover {
    background-color: #A9D3AF;
    color: #214e22;
}

.icono-paso svg {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.seccion3 {
    background-color: #58d55c54;
}

.card-box {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
}

.form-box {
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 20px;
}