body {
    margin: 0;
    box-sizing: border-box;
    padding-top: 80px;
}
.start-spacing{
    padding-top: 100px;
}

html, body, #__next {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


h2,h1 {
    font-weight: 600;

}

.centered-text {
    text-align: center;
}

.seccion3{
    background-color: #d1e8d4;
}

/*CSS GENERAL DE LOS BOTONES*/
.btn-primary {
    background-color: #F99D20;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-success {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.btn-secondary {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.btn-primary:hover, .btn-secondary:hover {
   background: green;

}

.btn-success:hover {
    background-color: #A9D3AF;
    color: #214e22;
}

/* CSS GENERAL PARA TODOS LOS FORMS*/
.form-control {
    border-color: green;
    margin-bottom: 8px;
}
input:hover, select:hover, input:focus, select:focus, input[type="checkbox"]:checked,textarea:hover, textarea:focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5) !important; /* Establecer una sombra de contorno naranja */
}
input[type="checkbox"]:checked, input[type="radio"]:checked{
    background-color: orange ;
}
.form-box {
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 20px;
}

/* CSS GENERAL PARA TODOS LOS SVG*/
.svgArriba{
    margin-top: 0px;
  }

.icono-paso svg {
    width: 50px;
    height: auto;
    vertical-align: middle;
}