/* Navbar*/
.navbar {
    display: flex;
    justify-content: center;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-item {
    margin-left: 10px; 
  }
  .navbar-custom {
    background-image: linear-gradient(to bottom, #58D55C, transparent);
  }
  .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
  }
  .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out; 
  }
  
  .navbar-nav .nav-link:hover {
    font-weight: bold; 
    transform: translateY(-3px); 
  }
  .logo-small {
    width: 100px; 
    height: auto; 
  }
  
  
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.9); 
  }
  
  .navbar-custom.fixed-top.nav-scrolled {
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  .navbar-custom .navbar-brand img {
    max-height: 40px; 
  }
/* Seccion 1*/
.img-circular {
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px; /* Ancho máximo para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
  }

  /* Aumentar el espacio entre el navbar y la sección1 */
  .seccion5 {
    margin-top: 800px; /* Ajusta este valor según necesites más o menos espacio */
  }

  /* Estilo para la barra lateral */
  .barra {
   
    height: 100px; /* Altura de la barra */
    width: 10px; /* Ancho de la barra */
  }
.accordion-button:hover {
    background-color: #f8f9fa;
}
.accordion-button{
    background-color: #86d48bff;
}

.accordion-body {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 20px; /* Aumenta el padding vertical para hacerlo más largo */
    margin-bottom: 20px; /* Añade margen inferior para separar los acordeones */
}