/* Navbar*/
.navbar {
    display: flex;
    justify-content: center;

  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-item {
    margin-left: 10px; 
  }
  .navbar-custom {
    background-image: linear-gradient(to bottom, #58D55C, transparent);
  }
  .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
  }
  .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out; 
  }
  
  .navbar-nav .nav-link:hover {
    font-weight: bold; 
    transform: translateY(-3px); 
  }
  .logo-small {
    width: 100px; 
    height: auto; 
  }
  
  
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.9); 
  }
  
  .navbar-custom.fixed-top.nav-scrolled {
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  .navbar-custom .navbar-brand img {
    max-height: 40px; 
  }

/* seccion 1*/

.container {
    margin-top: 100px; 
    display: flex;
}


  .left-section {
    flex: 1;
    background: linear-gradient(to right, #6fd574ff, #92d497ff, #a3d3a9ff);
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .logo {
    width: 150px; 
    margin-bottom: 20px; 
  }

  .left-section button {
    border-radius: 20px; 
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
  }

  .left-section button:hover {
    background-color: #b8dbbdff; 
  }

  .right-section {
    flex: 1;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .right-section button[type="submit"] {
    border-radius: 20px; 
    padding: 10px 20px;
    background-color: #86d48bff;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
  }

  .right-section button[type="submit"]:hover {
    background-color: #b8dbbdff; 
  }
  /* footer */
.logo-small {
    width: 100px; 
    height: auto; 
  }

