/* Seccion 1*/
.img-circular {
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px; 
    height: auto;
  }
  .seccion5 {
    margin-top: 100px !important;
  }


/* Estilo para la barra lateral */
.barra {
  height: 100px; 
  width: 10px; 
}

.accordion-button:hover {
  background-color: #f8f9fa;
}

.accordion-button {
  background-color: #86d48bff;
}

.accordion-body {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px; 
  margin-bottom: 20px; 
}

/* Estilos adicionales para el texto de información */
.accordion-body p {
  color: #a9d3af; 
}

.accordion-body a:hover {
  color: #ffb533; 
}
.accordion-button:not(.collapsed) {
  background-color: #ffb533; 
}
.svgArriba{
  margin-top: 180px;
}