
  .container {
    text-align: justify;
  }
  .cookie-main {
    margin-top: 50px;
  }

  

  .card {
    border: none;
    border-radius: 15px;
  }
  
 
  .cookie-main {
    margin-top: 50px;
  }
  