.card2 {
  max-width: 450px;
  margin: auto;
  margin-bottom: 20px;
}

.card {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.445);
  margin-top: 50%;
  border-radius: 10%;
}
.carousel.indicator {
  margin-top: 10px;
}
.carousel-indicators li {
  background-color: orange;
}

.carousel-indicators .active {
  background-color: darkorange; /* O cualquier variación de naranja que prefieras para el indicador activo */
}

.centered-text {
  text-align: center;
}

.card-img-container {
  width: 100%;
  height: 256px; /* Altura fija para todas las imágenes */
  overflow: hidden;
  display: flex;
}